/* Base Styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0.4rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #952E4B;
    color: #fff;
    overflow-x: hidden;
}

/* Form Styles */

.title {
    text-align: center;
    margin: 1rem;
}

    .subtitle{
        font-size: 1.5rem;
        transition: all ease-in 0.3s;
    }

.addNewTask{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: #5E9EE1;
    cursor: pointer;
    text-align: center;
    padding: 0;
    text-align: center;
    line-height: 32px;
    outline: none;
}

    .addNewTask::after{
        content: "\002B";
        color: #fff;
        font-size: 24px;
    }

.form-task{
    width: 100%;
    background-color: #FF5D5D;
    padding: 1rem;
    border-radius: 4px;
}

.task-label {
    padding: 0;
    color: #fff;
}

.inputNewTask{
    display: block;
    width: 100%;
    height: 32px;
    border: none;
    border-radius: 4px;
    margin-top: 4px;
}

.btnAddTask{
    display: block;
    width: 80px;
    height: 32px;
    border: none;
    background-color: #5E9EE1;
    color: #fff;
    margin-left: auto;
    border-radius: 4px;
    cursor: pointer;
}

    .btnAddTask:hover{
        background-color: #3D83CB;
    }

/* Task List Styles */

.task-container{
    width: 80%;
    padding: 0;
}

.subtitle,
.task-container--toComplete{
    display: none;
}

.task-list__item{
    display: flex;
    padding: 0;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, #FF5D5D, #952E4B);
    border-radius: 4px;
    cursor: pointer;
}

.task-list__content-container1{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.task-list__content-container2{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

    .date{
        font-size: 0.9rem;
        text-align: right;
        padding: 0.1rem 0.4rem;
    }

    .hour{
        font-size: 0.9rem;
        text-align: right;
        padding: 0.1rem 0.4rem;
    }

/* Modal Styles */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    background-color: rgba(231, 55, 55, 0.9);
    transition: all ease-in 0.4s;
    transform: translateY(-100%);
}

    .containerModal{
        width: 80%;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .closeModal{
        width: 32px;
        height: 32px;
        background-color: #FF5D5D;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        padding: 0;
        cursor: pointer;
        display: block;
        margin-left: auto;
    }

/* Confirm Task Container */

.closeModal--mod{
    position: relative;
    top: 1rem;
    left: 12px;
    background-color: #fff;
    color: #FF5D5D;
}

.form-group--flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btnAddTask--mod{
    margin-left: 0;
}

/* Feedback Styles */

.feedback {
    background-color: #FF5D5D;
    padding: 1rem;
    border-radius: 4px;
    line-height: 1.5;
    display: block;
    transition: all ease-in 0.3s;
    margin-top: 2rem;
}

.emoji{
    margin-top: 2rem;
    display: block;
}

/* State Styles */

.complete-task {
    cursor: not-allowed;
    position: relative;
}

.complete-task::after{
    content: "\2713";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #00D379;
    text-align: center;
    line-height: 18px;
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
    position: absolute;
    top: -11px;
    right: -8px;
}

.activeModal{
    transform: translateY(0);
}

.text-center{
    text-align: center;
    line-height: 1.5;
}

.unDisplayed{
    display: none;
}

.feedback-none{
    display: none;
}

.showContainers{
    display: block;
}

.feedback-message{
    position: fixed;
    bottom: 1rem;
    right: -100%;
    z-index: 300;
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
    transition: all ease-in 0.3s;
}

.feedback-message--bgSuccess{
    background-color: #00D379;
}

.feedback-message--bgError{
    background-color: #FF5D5D;
}

.active-feedback-message{
    right: 0.8rem;
}